{% extends 'admin/index.html.twig' %}
{% block title %}{{ template.items.new.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            {% if template.items.list.isEnabled %}
                <a
                        href="{{ path(template.routes.list.name) }}"
                        class="back-page"
                >{{ template.items.new.content.toList }}</a>
            {% endif %}
            {{ include('flashmessages.html.twig') }}
        </ul>
    </div>
    <div class="adm-users-edit">
        <h2>{{ template.items.new.content.h1 }}</h2>

        {% if template.items.form.content.help_message is defined %}
            <div class="help_block">{{ template.items.form.content.help_message }}</div>
        {% endif %}

        {% if template.items.filter.isEnabled %}
            {{ include(template.items.filter.path~'_filter_form.html.twig') }}
        {% endif %}
        {% if template.items.form.isEnabled %}
            {{ include(template.items.form.path~'_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
