{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.name }}</span>
        <p>{{ entity.text }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.templateParameter }}</span>
        <p>
            {% if entity.templateParameter %}
                <a href="{{ path('template_parameter_show', {'id': entity.templateParameter.id}) }}">
                    {{ entity.templateParameter.name }}
                </a>
            {% endif %}
        </p>
    </li>
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path('template_parameter_text_list') }}">
                        {{ template.items.show.content.analyzesLink }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}