{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('patientOffice') }}
{% endblock %}
{% block body %}
    <main>
        <a href="{{ path('app_logout') }}">Выйти</a>
        <div class="pacient-wrapper">
            <div class="pacient-aside">
                <div class="main-header__logo"><a href="#">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="10" width="6" height="25" fill="white"/>
                            <rect y="15" width="6" height="25" transform="rotate(-90 0 15)" fill="white"/>
                        </svg>
                        <span>Медицина</span></a></div>
                <div class="pacient-aside__info">
                    <div class="pacient-aside__picture"><img src="" alt=""></div>
                    <div class="pacient-aside__name"><span>Иванова М.С.</span></div>
                </div>
                <nav class="pacient-aside__nav">
                    <ul>
                        <li class="active"><a>Главная</a></li>
                        <li><a href="#">Назначение</a></li>
                        <li><a href="#">Обследование</a></li>
                        <li><a href="#">Форум</a></li>
                        <li><a href="#">Календарь</a></li>
                        <li><a href="#">Информация</a></li>
                    </ul>
                </nav>
            </div>
            <div class="pacient-content">
                <div class="pacient-content__header">
                    <div class="pacient-content__header-col">
                        <div class="pacient-content__title-name">Иванова М.С.</div>
                        <div class="pacient-content__title-label">Предпологаемая дата родов</div>
                        <div class="pacient-content__title-date">1-15 августа 2020</div>
                    </div>
                    <div class="pacient-content__header-col">
                        <a
                                class="main-button main-button--green js-open-modal"
                                data-modal="2">Заявка на консультацию
                        </a>
                    </div>
                </div>
                <div class="pacient-content__inner">
                    <div class="element-grid pacient-content__recomendation">
                        <div class="pacient-content__header">
                            <div class="pacient-content__col">
                                <h3>
                                    <b>C 30.04.2020</b>
                                    <span>Вам рекомендовано:</span>
                                </h3>
                            </div>
                            <div class="pacient-content__col"><a href="">Справка</a></div>
                        </div>
                        <ul>
                            <li><p>Лечение оставить без изменений</p></li>
                            <li><span>сдать анализы</span>
                                <p> Через 2 недели повторно определить уровень антител к β2-гликопротеину</p></li>
                            <li><span>консультации</span>
                                <p>осмотр гематолога</p></li>
                        </ul>
                        <div class="pacient-content__name-doctor">Врач - Иванов И.И.</div>
                    </div>
                    <div class="element-grid pacient-content__notification"><h3>Уведомление</h3>
                        <p>Сдать анализ общий анализ крови до 9 мая 2020 года</p></div>
                    <div class="element-grid pacient-content-description pacient-content-description--first">
                        <div class="pacient-content-description__picture">
                            <img src="{{ asset('build/images/item-description1.svg') }}" alt="">
                        </div>
                        <div class="pacient-content-description__col"><p>Недель</p><span>1-4</span></div>
                    </div>
                    <div class="element-grid pacient-content-description pacient-content-description--second">
                        <div class="pacient-content-description__edit"></div>
                        <div class="pacient-content-description__picture">
                            <img src="{{ asset('build/images/item-description2.svg') }}" alt="">
                        </div>
                        <div class="pacient-content-description__col"><p>Вес</p><span>70</span></div>
                    </div>
                    <div class="element-grid pacient-content-date">
                        <div class="datepicker-cal">
                            <div class="pacient-content-date__footer">
                                <div class="pacient-content-date__footer-col"><span>день обследования</span></div>
                                <div class="pacient-content-date__footer-col"><span>сегодняшний день</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="element-grid pacient-content-bag">
                        <div class="pacient-content-bag__picture">
                            <picture>
                                <source srcset="{{ asset('build/images/bag.png') }}" media="(max-width: 768px)">
                                <img src="{{ asset('build/images/bag-desctop.png') }}" alt=""></picture>
                        </div>
                        <h3>Сумка в роддом</h3>
                        <p>Документы (паспорт + копия, мед.полис + копия, свидетельство пенсионного страхования + копия,
                            обменная карта, контракт с роддомом). </p><a class="read-more" href="">Читать</a></div>
                </div>
            </div>
            <div class="pacient-footer">
                <ul>
                    <li><a class="pacient-footer__link pacient-footer__link--home active" href=""></a></li>
                    <li><a class="pacient-footer__link pacient-footer__link--document" href=""></a></li>
                    <li><a class="pacient-footer__link pacient-footer__link--chat" href=""></a></li>
                    <li><a class="pacient-footer__link pacient-footer__link--calendar" href=""></a></li>
                    <li><a class="pacient-footer__link pacient-footer__link--title" href=""></a></li>
                </ul>
            </div>
            <div class="modal-consultation modal" data-modal="1"><h3>Вы были на очной консультации у врача?</h3>
                <form method="get">
                    <ul>
                        <li><input id="check-yes" type="checkbox"><label for="check-yes"><span>Да</span></label></li>
                        <li><input id="check-no" type="checkbox"><label for="check-no"><span>Нет</span></label></li>
                        <li><label> <span>Выберите дату</span></label>
                            <input class="js-datepicker" type="text">
                        </li>
                        <li><label><span>Выберите врача</span></label>
                            <select>
                                <option>Генеколог</option>
                                <option>Генеколог</option>
                                <option>Генеколог</option>
                            </select>
                        </li>
                        <li class="buttons"><input class="js-modal-close" type="button" value="Отмена">
                            <input type="submit" value="Готово">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-consultation modal" data-modal="2"><h3>Заявка на невплановую консультацию</h3>
                <form method="get">
                    <ul>
                        <li><label for=""> <span>Напишите причинау обращения</span></label>
                            <input type="text" placeholder="Кровотечение">
                        </li>
                        <hr>
                        <li class="buttons"><input class="js-modal-close" type="button" value="Отмена">
                            <input type="submit" value="Готово">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="overlay js-overlay-modal"></div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('patientOffice') }}
{% endblock %}