{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('patientOffice') }}
{% endblock %}
{% block favicon %}{{ asset('build/images/pacient-fav.ico') }}{% endblock %}
{% block body %}
    <main>
        <div class="pacient-wrapper">
                {% include 'patientOffice/menu.html.twig' %}
            <div class="pacient-content">
                {% block content %}{% endblock %}
            </div>
            <div class="overlay js-overlay-modal"></div>
        </div>
    </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('patientOffice') }}
{% endblock %}