{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.name }}</span>
        <p>{{ entity.name }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.description }}</span>
        <p>
            {% if entity.description %}
                {{ entity.description|raw }}
            {% else %}
                {{ template.items.list.content.empty }}
            {% endif %}
        </p>
    </li>
{% endblock %}