{% extends 'admin/index.html.twig' %}
{% block title %}{{ template.items.show.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            {% if template.items.list.isEnabled %}
                <a href="{{ path(template.routes.list) }}"
                   class="back-page">{{ template.items.show.content.toList }}</a>
            {% endif %}
        </ul>
    </div>
    <div class="adm-users-edit adm-users-view">
        <h2>{{ template.items.show.content.h1 }}</h2>
        {{ include('flashmessages.html.twig') }}

        {% if template.items.show.content.help_message is defined %}
            <div class="help_block">{{ template.items.show.content.help_message }}</div>
        {% endif %}

        <ul>
            <li>
                <span class="title">ID</span>
                <p>{{ entity.id }}</p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.prescription }}</span>
                <p>
                    {% if entity.prescription %}
                        <a href="{{ path('prescription_show', {'id': entity.prescription.id}) }}">
                            {{ prescriptionTitle }}
                        </a>
                    {% endif %}
                </p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.staff }}</span>
                <p>
                    {% if entity.staff %}
                        <a href="{{ path('staff_show', {'id': entity.staff.id}) }}">{{ staffTitle }}</a>
                    {% endif %}
                </p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.inclusionTime }}</span>
                <p>{{ entity.inclusionTime ? entity.inclusionTime|date('Y-m-d H:i:s') : template.items.show.content.empty }}</p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.notificationConfirmId }}</span>
                <p>{{ entity.notificationConfirm ? entity.notificationConfirm.id : template.items.show.content.empty }}</p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.startingMedicationDate }}</span>
                <p>
                    {{ entity.startingMedicationDate | date('d.m.Y') }}
                </p>
            </li>
            <li>
                <span class="title">{{ template.items.show.content.endMedicationDate }}</span>
                <p>
                    {% if entity.endMedicationDate %}
                        {{ entity.endMedicationDate | date('d.m.Y') }}
                    {% else %}
                        {{ template.items.list.content.empty }}
                    {% endif %}
                </p>
            </li>
            {% if entity.enabled is defined %}
                <li>
                    <span class="title">{{ template.items.show.content.enabled }}</span>
                    <p>{{ entity.enabled ?
                        template.items.show.content.trueValue :
                        template.items.show.content.falseValue }}
                    </p>
                </li>
            {% endif %}
        </ul>
        <div class="buttons">
            {% if template.items.delete.isEnabled %}
                {{ include(template.commonTemplatePath~'_delete_form.html.twig') }}
            {% endif %}
            {% if template.items.edit.isEnabled %}
                <button class="btn btn--edit">
                    <a style="text-decoration: none; color: inherit; display:block;"
                       href="{{ path(template.routes.edit,
                           {
                               'prescription': entity.prescription.id,
                               'prescriptionMedicine': entity.id}) }}">
                        {{ template.items.show.content.toEdit }}
                    </a>
                </button>
            {% endif %}
        </div>
        {% block custom_actions %}{% endblock %}
    </div>
{% endblock %}
