<div class="statement acc">
    <h2 class="title accordion">{{ template.items.show.content.anamnesticData }}</h2>
    <div class="statement__wrapper panel">
        <div class="statement__head">
            <h3 class="subtitle">{{ template.items.show.content.anamnesticData }}</h3>
            <a class="back-page"
               href="{{ path('doctor_edit_clinical_diagnosis_data', {'id': entity.id}) }}">
                <span class="statement__edit">{{ template.items.show.content.addAnamnesticData }}</span>
            </a>
        </div>
        <div class="statement__content">
            <div class="statement__info">
                <div class="statement__info-block">
                    <p>{{ template.items.show.content.dateBegin }}</p>
                    <p>{{ medicalHistory.dateBegin ? medicalHistory.dateBegin|date('d.m.Y') : '' }}</p>
                </div>
                {% if medicalHistory.dateEnd %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.dateEnd }}</p>
                        <p>
                            {{ medicalHistory.dateEnd ? medicalHistory.dateEnd|date('d.m.Y') : '' }}
                        </p>
                    </div>
                {% endif %}
                {% if medicalHistory.clinicalDiagnosisInfo is defined %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.clinicalDiagnosisInfo }}</p>
                        {{ medicalHistory.clinicalDiagnosisInfo | raw }}
                    </div>
                {% endif %}
                {% if medicalHistory.clinicalDiagnosis.MKBCode.code is defined %}
                <div class="statement__info-block">
                    <p>{{ template.items.show.content.MKBCode }}</p>
                    <p>{{ medicalHistory.clinicalDiagnosis.MKBCode.code }}</p>
                </div>
                {% endif %}
                <div class="statement__info-block">
                    <p>{{ template.items.show.content.text }}</p>
                    <p>{{ medicalHistory.clinicalDiagnosis.text | raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>