{% set filesDir = constant('App\\Services\\FileService\\FileService::FILES_DIR') %}
<div class="statement acc">
    <h2 class="title accordion">{{ template.items.show.content.laboratoryData }}</h2>
    <div class="statement__wrapper panel">
        <div class="statement__head">
            <h3 class="subtitle">{{ template.items.show.content.dischargeEpicrisis }}</h3>
            {% if not patientDischargeEpicrisis is empty %}
                <a class="back-page"
                   href="{{ path(
                       'doctor_edit_discharge_epicrisis',
                       {'id': medicalHistory.patient.id, 'dischargeEpicrisis': patientDischargeEpicrisis.id}
                   ) }}">
                    <span class="statement__edit">{{ template.items.show.content.addDischargeEpicrises }}</span>
                </a>
            {% endif %}
        </div>
        <div class="statement__content">
            {% if not patientDischargeEpicrisis is empty %}
                <p>
                    {% set uploadDir = constant('App\\Entity\\DischargeEpicrisisFile::UPLOAD_DIR') %}
                    {% for file in patientDischargeEpicrisis.dischargeEpicrisisFiles %}
                        <a target="_blank" style="display: inline-block;"
                           href="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                           class="fancybox"
                           title="{{ file.fileName }}">
                            <img src="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                                 alt="{{ file.fileName }}" style="max-width: 400px;"/>
                        </a>
                    {% endfor %}
                </p>
            {% else %}
                <div class="buttons">
                    <button class="button main-button"
                            onclick="location.href='{{ path(
                                'doctor_new_discharge_epicrisis',
                                {'id': medicalHistory.id}
                            ) }}';">
                        + Добавить выписной эпикриз
                    </button>
                </div>
            {% endif %}
        </div>
        {% for testing in firstTestings %}
            <div class="statement__head">
                <h3 class="subtitle">Обследование: {{ patientTestingTitle(testing) }}</h3>
                <a class="back-page"
                   href="{{ path('doctor_edit_patient_testing', {'patient': entity.id, 'patientTesting': testing.id}) }}">
                    <span class="statement__edit">{{ template.items.show.content.addPatientTestingResults }}</span>
                </a>
            </div>

            {% if testing.patientTestingFiles is empty and enabledTestingResults(testing) is empty %}
                <p>Результаты обследования не внесены!</p>
            {% endif %}

            {% set break = false %}
            {% for result in (enabledTestingResults(testing)) %}
                {% if not break %}
                    {% if result.result is empty and testing.resultData is empty %}
                        <p>Результаты обследования не внесены!</p>
                        {% set break = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            <div class="statement__content">
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>
                            {% if testing.patientTestingFiles is not empty %}
                                {{ template.items.show.content.files }}
                            {% endif %}
                            {% set uploadDir = constant('App\\Entity\\PatientTestingFile::UPLOAD_DIR') %}
                            {% for testingFile in testing.patientTestingFiles %}
                                <a target="_blank"
                                   href="/{{ filesDir }}/{{ uploadDir }}/{{ testingFile.id }}.{{ testingFile.extension }}"
                                   class="fancybox"
                                   title="{{ testingFile.fileName }}">
                                    <img src="/{{ filesDir }}/{{ uploadDir }}/{{ testingFile.id }}.{{ testingFile.extension }}"
                                         alt="{{ testingFile.fileName }}"/>
                                </a>
                            {% endfor %}
                        </p>

                        {% if testing.resultData is not empty %}
                            <div class="statement__info-block">
                                <p>{{ template.items.show.content.resultData }}</p>
                                <p>{{ testing.resultData }}</p>
                            </div>
                        {% endif %}

                        {% if patientTestingResults is defined and enabledTestingResults(testing) is not empty %}
                            <div class="table-wrapper table-history">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Анализ</th>
                                        <th>Результат</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="statement__info">
                    <div class="statement__info-block">
                        {% if not enabledTestingResults(testing) is empty and not isEmptyPatientTestingResults(testing) %}
                            <div class="table-wrapper table-history">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Анализ</th>
                                        <th>Референсные значения</th>
                                        <th>Результат</th>
                                    </tr>
                                    </thead>
                                    {% for result in enabledTestingResults(testing) %}
                                        <tr>
                                            <td>{{ result.analysis.name }}</td>
                                            <td>{{ result.analysisRate ? analysisRate(result.analysisRate) : '' }}</td>
                                            <td>{{ result.result }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>