<div class="appaintment__item"><span
            class="appaintment__label">{{ template.items.newsList.content.doctor }} Иванов И.И.</span>
    <div class="appaintment__title"><h3><span
                    class="strong"> С 30.04.2020</span> {{ template.items.newsList.content.recommended }}</h3></div>
    <div class="appaintment__content">
        <ul>
            <li><p>{{ template.items.newsList.content.unchangedPrescription }}</p></li>
            <li><span>{{ template.items.newsList.content.prescriptionTesting }}</span>
                <p>Через 2 недели повторно определить уровень антител к β2-гликопротеину</p></li>
            <li><span>{{ template.items.newsList.content.prescriptionAppointment }}</span>
                <p>осмотр гематолога</p></li>
        </ul>
    </div>
</div>