{% extends template.commonTemplatePath~'show.html.twig' %}

{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.text }}</span>
        <p>
            {% if entity.text %}
                {{ entity.text | raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.MKBCode }}</span>
        <p>
            {% if entity.MKBCode %}
                <a href="{{ path('diagnosis_show', {'id': entity.MKBCode.id}) }}">
                    {{ entity.MKBCode.code }}
                </a>
            {% else %}
                {{ template.items.show.content.MKBNotFound }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.mainDisease }}</span>
        <p>
            {% if entity.mainDisease %}
                <a href="{{ path('diagnosis_show', {'id': entity.mainDisease.id}) }}">
                    {{ entity.mainDisease.name }}
                </a>
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.backgroundDiseases }}</span>
        {% if entity.backgroundDiseases|length == 0 %}
            <p>{{ template.items.show.content.empty }}</p>
        {% else %}
            {% for backgroundDisease in entity.backgroundDiseases %}
                <p>
                    <a href="{{ path('diagnosis_show', {'id': backgroundDisease.id}) }}">
                        {{ backgroundDisease.name }}
                    </a>
                </p>
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complications }}</span>
        {% if entity.complications|length == 0 %}
            <p>{{ template.items.show.content.empty }}</p>
        {% else %}
            {% for complication in entity.complications %}
                <p>
                    <a href="{{ path('diagnosis_show', {'id': complication.id}) }}">
                        {{ complication.name }}
                    </a>
                </p>
            {% endfor %}
        {% endif %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.concomitantDiseases }}</span>
        {% if entity.concomitantDiseases | length > 0 %}
            {% for concomitantDisease in entity.concomitantDiseases %}
                <p>
                    <a href="{{ path('diagnosis_show', {'id': concomitantDisease.id}) }}">
                        {{ concomitantDisease.name }}
                    </a>
                </p>
            {% endfor %}
        {% else %}
            <p>{{ template.items.show.content.empty }}</p>
        {% endif %}
    </li>
{% endblock %}