{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.timeRangeCount }}</span>
        <p>
            {% if entity.timeRange %}
                <a href="{{ path('analysis_group_show', {'id': entity.timeRange.id}) }}">
                    {{ entity.timeRange.title }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.timeRange }}</span>
        <p>{{ entity.timeRangeCount }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.startingPoint }}</span>
        <p>
            {% if entity.startingPoint %}
                <a href="{{ path('starting_point_show', {'id': entity.startingPoint.id}) }}">
                    {{ entity.startingPoint.title }}
                </a>
            {% endif %}
        </p>
    </li>
{% endblock %}
