{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
<li>
    <span class="title">{{ template.items.show.content.analysisGroup }}</span>
    <p>{{ entity.patientTesting.analysisGroup.name}}</p>
</li>
<li>
    <span class="title">{{ template.items.show.content.plannedDate }}</span>
    <p>{{
        entity.inclusionTime
        ? entity.inclusionTime|date('d.m.Y H:i')
        : template.items.show.content.empty
        }}</p>
</li>
<li>
    <span class="title">{{ template.items.show.content.inclusion_time }}</span>
    <p>{{
        entity.inclusionTime
        ? entity.inclusionTime|date('d.m.Y H:i')
        : template.items.show.content.empty
        }}</p>
</li>
<li>
    <span class="title">{{ template.items.show.content.staff }}</span>
    <p>{{ staffTitle }}</p>
</li>
{% endblock %}