{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.blogRecord }}</span>
        <p>
            {% if entity.blogRecord %}
                <a href="{{ path('blog_record_show', {'id': entity.blogRecord.id}) }}">{{ blogRecordTitle }}</a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.project }}</span>
        <p>{{ entity.project }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.title }}</span>
        <p>{{ entity.title }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.description }}</span>
        <p>{{ entity.description }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.duration }}</span>
        <p>{{ entity.duration }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.completed }}</span>
        <p>{{ entity.completed ?
            template.items.show.content.trueValue
            : template.items.show.content.falseValue }}
        </p>
    </li>
{% endblock %}
