{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.name }}</span>
        <p>{{ entity.name }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.templateType }}</span>
        <p>
            {% if entity.templateType %}
                <a href="{{ path('template_type_show', {'id': entity.templateType.id}) }}">
                    {{ entity.templateType.name }}
                </a>
            {% endif %}
        </p>
    </li>
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path(
                        'template_parameter_text_list',
                        {(templateParameterFilterName) : entity.id}
                    ) }}">
                        {{ template.items.show.content.templateParameterTextsLink }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}