{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.notificationType }}</span>
        <p>{{ entity.notificationType }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.patient }}</span>
        <p>{{ entity.patient }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.from }}</span>
        <p>{{ fio(entity.from) }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.notificationTime }}</span>
        <p>{{ entity.notificationTime|date('Y-m-d H:i:s') }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.text }}</span>
        <p>{{ entity.text }}</p>
    </li>
{% endblock %}
