<div class="element-grid pacient-content__recomendation">
    <div class="pacient-content__header">
        <div class="pacient-content__col"><h3><b>C 30.04.2020</b> <span>{{ template.items.show.content.recommendedForYou }}</span></h3></div>
        <div class="pacient-content__col"><a href="">{{ template.items.show.content.information }}</a></div>
    </div>
    <ul>
        <li><p>{{ template.items.show.content.unchangedPrescription }}</p></li>
        <li><span>{{ template.items.show.content.prescriptionTesting }}</span>
            <p> Через 2 недели повторно определить уровень антител к β2-гликопротеину</p></li>
        <li><span>{{ template.items.show.content.prescriptionAppointment }}</span>
            <p>осмотр гематолога</p></li>
    </ul>
</div>