{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.edit.content.title }}{% endblock %}
{% block content %}
    {{ include('flashmessages.html.twig') }}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <h1>{{ template.items.edit.content.h1 }}</h1>
            </li>
            <li>
                <a class="back-page" href="{{ path(
                    'doctor_medical_history',
                    {'id': entity.id}
                ) }}">Назад</a>
            </li>
        </ul>
    </div>
    {{ include('flashmessages.html.twig') }}
    <div class="adm-users-edit">
        {{ include(template.items.form.path~'_form.html.twig') }}
    </div>
{% endblock %}