{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.edit.content.objective_title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li>
                <h2>{{ template.items.edit.content.objective_h2 }}</h2>
            </li>
            <li>
                <a class="back-page" href="{{ path(
                    'doctor_medical_history',
                    {'id': entity.medicalHistory.patient.id}
                ) }}">Назад</a>
            </li>
        </ul>
    </div>
    <div class="adm-users-edit">
        {{ form_start(form) }}
        <ul>
            {% for child in form.patientAppointment %}
                {% if 'hidden' not in child.vars.block_prefixes and not child.rendered %}
                    <li>
                        <span class="label">{{ form_label(child) }}</span>
                        {% if child.vars.name == 'objectiveStatus' %}
                            <a href="{{ path(
                                'doctor_edit_initial_examination_data_objective_status_using_constructor',
                                { 'id': entity.id }
                            ) }}"
                               class="form-control"
                            >
                                Собрать Объективный статус
                            </a>
                            <a href="{{ path(
                                'doctor_edit_initial_examination_data_objective_status_by_template',
                                { 'id': entity.id }
                            ) }}"
                               class="form-control">
                                Выбрать из шаблона Объективный статус
                            </a>
                        {% endif %}
                        {{ form_widget(child) }}
                    </li>
                {% endif %}
            {% endfor %}
            {% for child in form.anamnesOfLife %}
                {% if 'hidden' not in child.vars.block_prefixes and not child.rendered %}
                    <li>
                        <span class="label">{{ form_label(child) }}</span>
                            <a href="{{ path(
                                'doctor_edit_initial_examination_data_anamnesis_of_life_using_constructor',
                                { 'id': entity.medicalHistory.patient.id}
                            ) }}"
                               class="form-control">Собрать Анамнез жизни</a>
                            <a href="{{ path(
                                'doctor_edit_initial_examination_data_anamnesis_of_life_by_template',
                                { 'id': entity.medicalHistory.patient.id}
                            ) }}"
                               class="form-control"
                            >
                                Выбрать из шаблона Анамнез жизни
                            </a>
                        {{ form_widget(child) }}
                    </li>
                {% endif %}
            {% endfor %}
            {% for child in form.diseaseHistory %}
                {% if 'hidden' not in child.vars.block_prefixes and not child.rendered %}
                    <li>
                        <span class="label">{{ form_label(child) }}</span>
                        {{ form_widget(child) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <div class="buttons">
            <button class="button main-button">{{ button_label|default(template.items.form.content.formButtonLabel) }}</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}