{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.show.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li><a class="back-page" href="{{ path('patients_list') }}">Назад</a></li>
        </ul>
    </div>
    <div class="statement acc">
        <h2 class="title accordion">{{ template.items.show.content.personalData }}</h2>
        <div class="statement__wrapper panel">
            <div class="statement__head">
                <h3 class="subtitle">{{ template.items.show.content.personalData }}</h3>
                <a class="back-page"
                   href="{{ path('doctor_edit_personal_data', {'id': entity.id}) }}">
                    <span class="statement__edit">{{ template.items.show.content.addPersonalData }}</span>
                </a>
            </div>
            <div class="statement__content">
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.fio }}</p>
                        <p>{{ fio(entity.AuthUser) }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.age }}</p>
                        <p>{{ age }}</p></div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.address }}</p>
                        <p>{{ entity.address }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.insuranceNumber }}</p>
                        <p>{{ entity.insuranceNumber }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.SNILS }}</p>
                        <p>{{ entity.snils }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.phone }}</p>
                        <p>{{ phone(entity.AuthUser) }}</p>
                    </div>
                    {% if(entity.AuthUser.email) %}
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.email }}</p>
                            <p>{{ entity.AuthUser.email }}</p>
                        </div>
                    {% endif %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.passport }}</p>
                        <p>{{ entity.passport }}</p>
                        {% if (entity.passportIssuingAuthority) %}
                            <p>{{ entity.passportIssuingAuthority }} {{ entity.passportIssueDate }} {{ entity.passportIssuingAuthorityCode }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="statement__info">
                    <div class="statement__info-block">
                        <ul>
                            <li>
                                <p>{{ template.items.show.content.weight }}</p>
                                <p>{{ entity.weight }} кг</p>
                            </li>
                            <li>
                                <p>{{ template.items.show.content.height }}</p>
                                <p>{{ entity.height }} см</p>
                            </li>
                            <li><p>{{ template.items.show.content.imt }}</p>
                                <p>{{ bodyMassIndex(entity) }}%</p>
                            </li>
                        </ul>
                    </div>
                    {% if (entity.smsInforming or entity.emailInforming) %}
                        <div class="statement__info-block">
                            <p>Информирование: </p>
                            {% if(entity.smsInforming) %}
                                <p>{{ template.items.show.content.bySms }}</p>
                            {% endif %}
                            {% if(entity.emailInforming) %}
                                <p>{{ template.items.show.content.byEmail }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.hospital }}</p>
                        <p>{{ entity.hospital.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="statement acc">
        <h2 class="title accordion">{{ template.items.show.content.documentaryData }}</h2>
        <div class="statement__wrapper panel">
            <div class="statement__head">
                <h3 class="subtitle">{{ template.items.show.content.documentaryData }}</h3>
                <a class="back-page"
                   href="{{ path('doctor_edit_documentary_data', {'id': entity.id}) }}">
                    <span class="statement__edit">{{ template.items.show.content.addDocumentaryData }}</span>
                </a>
            </div>
            <div class="statement__content">
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.dateBegin }}</p>
                        <p>{{ medicalHistory.dateBegin ? medicalHistory.dateBegin|date('d.m.Y') : '' }}</p>
                    </div>
                    {% if medicalHistory.dateEnd %}
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.dateEnd }}</p>
                            <p>
                                {{ medicalHistory.dateEnd ? medicalHistory.dateEnd|date('d.m.Y') : '' }}
                            </p>
                        </div>
                    {% endif %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.mainDisease }}</p>
                        <p>
                            {% if (medicalHistory.mainDisease) %}
                                {{ medicalHistory.mainDisease.name }}
                            {% else %}
                                {{ template.items.show.content.mainDiseaseNotFound }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.backgroundDiseases }}</p>
                        {% if not medicalHistory.backgroundDiseases %}
                            <p>{{ template.items.show.content.backgroundDiseasesNotFound }}</p>
                        {% endif %}
                        {% for backgroundDisease in medicalHistory.backgroundDiseases %}
                            <p>{{ backgroundDisease.name }}</p>
                        {% endfor %}
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.complications }}</p>
                        {% if not medicalHistory.complications %}
                            <p>{{ template.items.show.content.complicationsNotFound }}</p>
                        {% endif %}
                        {% for complication in medicalHistory.complications %}
                            <p>{{ complication.name }}</p>
                        {% endfor %}
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.concomitantDiseases }}</p>
                        {% if not medicalHistory.concomitantDiseases %}
                            <p>{{ template.items.show.content.concomitantDiseasesNotFound }}</p>
                        {% endif %}
                        {% for concomitantDisease in medicalHistory.concomitantDiseases %}
                            <p>{{ concomitantDisease.name }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.diseaseHistory }}</p>
                        <p>
                            {% if medicalHistory.diseaseHistory %}
                                {{ medicalHistory.diseaseHistory }}
                            {% else %}
                                {{ template.items.show.content.diseaseHistoryNotFound }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.lifeHistory }}</p>
                        <p>
                            {% if medicalHistory.lifeHistory %}
                                {{ medicalHistory.lifeHistory }}
                            {% else %}
                                {{ template.items.show.content.lifeHistoryNotFound }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="history">
        <h2 class="title">Электронная история ведения беременности </h2>
        <div class="history__head">
            <div class="select"><span>Период</span>
                <input class="js-datepicker" type="text" value="15.03.2020">
                <input class="js-datepicker" type="text" value="15.03.2020">
            </div>
            <button class="button main-button">Назначить лечение</button>
        </div>
    </div>
    <div class="table-wrapper table-history">
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Переданное значение</th>
                <th>Назначение консультаций смежных специалистов</th>
                <th>Лечение</th>
                <th>Комментарий</th>
            </tr>
            </thead>
            <tr>
                <th><span>20.02.2020</span></th>
                <th>
                    <div class="th-inner"><span class="mode">Антитела к β2 гликопротеину 24 ЕД  </span></div>
                    <div class="th-inner"><span class="mode-2">D-димер 845 нг/мл</span></div>
                    <div class="th-inner"><span>УЗИ, степень зрелости плаценты 1ст. </span></div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Данные переданы <br> через личный <br> кабинет
                        </span>
                    </div>
                </th>
                <th>Для согласования лечения назначена консультация врача -гематолога</th>
                <th>
                    <div class="th-inner">
                        <span class="table__min-title">Принимать</span>
                        <span>Ангиовит 1 таблетка в суткиКурантил 25 мг по 1 таблетки 3 раза в день. </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__min-title">Вводить подкожно</span>
                        <span>Фраксипарин 0,3 один раз.</span>
                    </div>
                    <div class="th-inner">
                        <span class="table__min-title">Сдать анализы </span>
                        <span>D-димер через 2 недели </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Рекомендации направлены <br> на согласование врачу гематологу
                        </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванов И. И.</span>
                    </div>
                </th>
            </tr>
            <tr>
                <th><span class="green">3.04.2020 </span></th>
                <th>
                    <div class="th-inner">
                        <span class="mode">Показатели коагулограммы  </span>
                        <span>АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 </span>
                    </div>
                    <div class="th-inner"><span class="mode-2">D-димер 845 нг/мл </span></div>
                    <div class="th-inner"><span>Фото ОАК </span></div>
                    <a class="button table-button" href="#">Открыть фото</a>
                    <div class="th-inner">
                        <span class="table__small-text">Данные внесены <br> врачом-консультантом </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванов И. И.</span></div>
                </th>
                <th>
                    <div class="th-inner"><span>Выполнена консультация врача-гематолога</span></div>
                    <div class="th-inner"><span class="green-check">Лечение согласовано</span></div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач - гематолог</span>
                        <span>Петров А. А.</span>
                    </div>
                </th>
                <th>
                    <div class="th-inner">
                        <span class="table__min-title">Принимать</span>
                        <span>Ангиовит 1 таблетка в суткиКурантил 25 мг по 1 таблетки 3 раза в день. </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__min-title">Вводить подкожно</span>
                        <span>Фраксипарин 0,3 один раз.</span>
                    </div>
                    <div class="th-inner">
                        <span class="table__min-title">Сдать анализы </span>
                        <span>D-димер через 2 недели </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Рекомендации направлены <br> на согласование врачу гематологу
                        </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванов И. И.</span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Рекомендации направлены в личный кабинет пациентки,
                            дополнительно произведено информирование посредством SMS сообщения
                        </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            SMS – «Вам в личный кабинет отправлены новые рекомендации по лечению»
                        </span>
                    </div>
                </th>
                <th>
                    <div class="th-inner">
                        <span>
                            С пациенткой произведен личный разговор по телефону. Каких-либо жалоб не предъявляет.
                        </span>
                    </div>
                    <div class="th-inner"><span class="table__small-text">Врач</span><span>Иванов И. И.</span></div>
                </th>
            </tr>
        </table>
    </div>
{% endblock %}