{% extends 'doctorOffice/index.html.twig' %}
{% block title %}{{ template.items.show.content.title }}{% endblock %}
{% block content %}
    <div class="content-wrapper__top">
        <ul>
            <li><a class="back-page" href="{{ path('patients_list') }}">Назад</a></li>
        </ul>
    </div>
    <div class="statement acc">
        <h2 class="title accordion">{{ template.items.show.content.personalData }}</h2>
        <div class="statement__wrapper panel">
            <div class="statement__head">
                <h3 class="subtitle">{{ template.items.show.content.personalData }}</h3>
                <a class="back-page"
                   href="{{ path('doctor_edit_personal_data', {'id': entity.id}) }}">
                    <span class="statement__edit">{{ template.items.show.content.addPersonalData }}</span>
                </a>
            </div>
            <div class="statement__content">
                <div class="statement__info">
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.fio }}</p>
                        <p>{{ fio(entity.AuthUser) }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.age }}</p>
                        <p>{{ age }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.heartAttackDate }}</p>
                        <p>{{ entity.heartAttackDate ? entity.heartAttackDate|date('d.m.Y') : '' }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.address }}</p>
                        <p>{{ entity.address }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.insuranceNumber }}</p>
                        <p>{{ entity.insuranceNumber }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.snils }}</p>
                        <p>{{ entity.snils }}</p>
                    </div>
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.phone }}</p>
                        <p>{{ phone(entity.AuthUser) }}</p>
                    </div>
                    {% if(entity.AuthUser.email) %}
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.email }}</p>
                            <p>{{ entity.AuthUser.email }}</p>
                        </div>
                    {% endif %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.passport }}</p>
                        <p>{{ entity.passport }}</p>
                        {% if (entity.passportIssuingAuthority) %}
                            <p>{{ entity.passportIssuingAuthority }} {{ entity.passportIssueDate }} {{ entity.passportIssuingAuthorityCode }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="statement__info">
                    <div class="statement__info-block">
                        <ul>
                            <li>
                                <p>{{ template.items.show.content.weight }}</p>
                                <p>{{ entity.weight }} кг</p>
                            </li>
                            <li>
                                <p>{{ template.items.show.content.height }}</p>
                                <p>{{ entity.height }} см</p>
                            </li>
                            <li><p>{{ template.items.show.content.imt }}</p>
                                <p>{{ bodyMassIndex(entity) }}%</p>
                            </li>
                        </ul>
                    </div>
                    {% if (entity.smsInforming or entity.emailInforming) %}
                        <div class="statement__info-block">
                            <p>Информирование: </p>
                            {% if(entity.smsInforming) %}
                                <p>{{ template.items.show.content.bySms }}</p>
                            {% endif %}
                            {% if(entity.emailInforming) %}
                                <p>{{ template.items.show.content.byEmail }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="statement__info-block">
                        <p>{{ template.items.show.content.hospital }}</p>
                        <p>{{ entity.hospital.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if medicalHistory is not empty %}
        <div class="statement acc">
            <h2 class="title accordion">{{ template.items.show.content.anamnesticData }}</h2>
            <div class="statement__wrapper panel">
                <div class="statement__head">
                    <h3 class="subtitle">{{ template.items.show.content.anamnesticData }}</h3>
                    <a class="back-page"
                       href="{{ path('doctor_edit_anamnestic_data', {'id': entity.id}) }}">
                        <span class="statement__edit">{{ template.items.show.content.addAnamnesticData }}</span>
                    </a>
                </div>
                <div class="statement__content">
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.dateBegin }}</p>
                            <p>{{ medicalHistory.dateBegin ? medicalHistory.dateBegin|date('d.m.Y') : '' }}</p>
                        </div>
                        {% if medicalHistory.dateEnd %}
                            <div class="statement__info-block">
                                <p>{{ template.items.show.content.dateEnd }}</p>
                                <p>
                                    {{ medicalHistory.dateEnd ? medicalHistory.dateEnd|date('d.m.Y') : '' }}
                                </p>
                            </div>
                        {% endif %}
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.mainDisease }}</p>
                            <p>
                                {% if (medicalHistory.mainDisease) %}
                                    {{ medicalHistory.mainDisease.name }}
                                {% else %}
                                    {{ template.items.show.content.mainDiseaseNotFound }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.backgroundDiseases }}</p>
                            {% if medicalHistory.backgroundDiseases is empty %}
                                <p>{{ template.items.show.content.backgroundDiseasesNotFound }}</p>
                            {% endif %}
                            {% for backgroundDisease in medicalHistory.backgroundDiseases %}
                                <p>{{ backgroundDisease.name }}</p>
                            {% endfor %}
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.complications }}</p>
                            {% if medicalHistory.complications is empty %}
                                <p>{{ template.items.show.content.complicationsNotFound }}</p>
                            {% endif %}
                            {% for complication in medicalHistory.complications %}
                                <p>{{ complication.name }}</p>
                            {% endfor %}
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.concomitantDiseases }}</p>
                            {% if medicalHistory.concomitantDiseases is empty %}
                                <p>{{ template.items.show.content.concomitantDiseasesNotFound }}</p>
                            {% endif %}
                            {% for concomitantDisease in medicalHistory.concomitantDiseases %}
                                <p>{{ concomitantDisease.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.diseaseHistory }}</p>
                        </div>
                        <p>
                            {% if medicalHistory.diseaseHistory %}
                                {{ medicalHistory.diseaseHistory|raw }}
                            {% else %}
                                {{ template.items.show.content.diseaseHistoryNotFound }}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="statement__content">
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.lifeHistory }}</p>
                        </div>
                    </div>
                </div>
                <p>
                    {% if medicalHistory.lifeHistory %}
                        {{ medicalHistory.lifeHistory | raw }}
                    {% else %}
                        {{ template.items.show.content.lifeHistoryNotFound }}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endif %}

    {% if firstAppointment is not empty %}
        <div class="statement acc">
            <h2 class="title accordion">{{ template.items.show.content.objectiveData }}</h2>
            <div class="statement__wrapper panel">
                <div class="statement__head">
                    <h3 class="subtitle">{{ template.items.show.content.objectiveData }}</h3>
                    <a class="back-page"
                       href="{{ path('doctor_edit_objective_data', {'id': firstAppointment.id}) }}">
                        <span class="statement__edit">{{ template.items.show.content.addObjectiveData }}</span>
                    </a>
                </div>
                <div class="statement__content">
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.complaints }}</p>
                            {% if firstAppointment.complaints is empty %}
                                <p>{{ template.items.show.content.complaintsNotFound }}</p>
                            {% endif %}
                            {% for complaint in firstAppointment.complaints %}
                                <p>{{ complaint.name }}</p>
                            {% endfor %}
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.complaintsComment }}</p>
                            <p>
                                {% if firstAppointment.complaintsComment %}
                                    {{ firstAppointment.complaintsComment|raw }}
                                {% else %}
                                    {{ template.items.show.content.complaintsCommentNotFound }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.recommendation }}</p>
                            <p>
                                {% if firstAppointment.recommendation %}
                                    {{ firstAppointment.recommendation | raw }}
                                {% else %}
                                    {{ template.items.show.content.recommendationNotFound }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.appointmentType }}</p>
                            <p>
                                {% if firstAppointment.appointmentType %}
                                    {{ firstAppointment.appointmentType.name }}
                                {% else %}
                                    {{ template.items.show.content.appointmentTypeNotFound }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.appointmentTime }}</p>
                            <p>{{ firstAppointment.appointmentTime ? firstAppointment.appointmentTime|date('d.m.Y H:i') : '' }}</p>
                        </div>
                    </div>
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.objectiveStatus }}</p>
                            <p>
                                {% if firstAppointment.objectiveStatus %}
                                    {{ firstAppointment.objectiveStatus.text | raw }}
                                {% else %}
                                    {{ template.items.show.content.objectiveStatusNotFound }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>{{ template.items.show.content.therapy }}</p>
                            <p>
                                {% if firstAppointment.therapy %}
                                    {{ firstAppointment.therapy | raw }}
                                {% else %}
                                    {{ template.items.show.content.therapyNotFound }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{#    {% if patientDischargeEpicrisis is not empty and firstTestings is not empty%}#}
        {% set filesDir = constant('App\\Services\\FileService\\FileService::FILES_DIR') %}
    <div class="statement acc">
        <h2 class="title accordion">{{ template.items.show.content.laboratoryData }}</h2>
        <div class="statement__wrapper panel">
            <div class="statement__head">
                <h3 class="subtitle">{{ template.items.show.content.dischargeEpicrisis }}</h3>
                {% if not patientDischargeEpicrisis is empty %}
                <a class="back-page"
                   href="{{ path('doctor_edit_discharge_epicrisis', {'id': patientDischargeEpicrisis.id}) }}">
                    <span class="statement__edit">{{ template.items.show.content.addDischargeEpicrises }}</span>
                </a>
                {% endif %}
            </div>
            <div class="statement__content">
                {% if not patientDischargeEpicrisis is empty %}
                    <p>
                        {% set uploadDir = constant('App\\Entity\\DischargeEpicrisisFile::UPLOAD_DIR') %}
                        {% for file in patientDischargeEpicrisis.dischargeEpicrisisFiles %}
                            <a target="_blank" style="display: inline-block;"
                               href="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                               class="fancybox"
                               title="{{ file.fileName }}">
                                <img src="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                                     alt="{{ file.fileName }}" style="max-width: 400px;"/>
                            </a>
                        {% endfor %}
                    </p>
                {% else %}
                    <div class="buttons">
                        <button class="button main-button" onclick="location.href='{{ path('doctor_new_discharge_epicrisis', {'id': medicalHistory.id}) }}';">+ Добавить выписной эпикриз</button>
                    </div>
                {% endif %}
            </div>
            {% for testing in firstTestings %}
                <div class="statement__head">
                    <h3 class="subtitle">Обследование: {{ patientTestingTitle(testing) }}</h3>
                    <a class="back-page"
                       href="{{ path('doctor_edit_objective_data', {'id': entity.id}) }}">
                        <span class="statement__edit">{{ template.items.show.content.addPatientTestingResults }}</span>
                    </a>
                </div>
                {% if testing.patientTestingFiles is empty and  enabledTestingResults(testing) is empty %}
                    <p>Результаты обследования не внесены!</p>
                {% endif %}
                <div class="statement__content">
                    <div class="statement__info">
                        <div class="statement__info-block">
                            <p>
                                {% set uploadDir = constant('App\\Entity\\PatientTestingFile::UPLOAD_DIR') %}
                                {% for testingFile in testing.patientTestingFiles %}
                                    <a target="_blank"
                                       href="/{{ filesDir }}/{{ uploadDir }}/{{ testingFile.id }}.{{ testingFile.extension }}"
                                       class="fancybox"
                                       title="{{ testingFile.fileName }}">
                                        <img src="/{{ filesDir }}/{{ uploadDir }}/{{ testingFile.id }}.{{ testingFile.extension }}"
                                             alt="{{ testingFile.fileName }}"/>
                                    </a>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="statement__info">
                        <div class="statement__info-block">
                            {% if not enabledTestingResults(testing) is empty %}
                                <table>
                                    <tr>
                                        <th>Параметр</th>
                                        <th>Значение</th>
                                    </tr>
                                    {% for result in testing.patientTestingResults %}
                                        {% if(result.enabled) %}
                                            <tr>
                                                <td>{{ analysisRate(result.analysisRate) }}</td>
                                                <td>{{ result.result }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{#    {% endif %}#}
    <div class="history">
        <h2 class="title">Электронная история болезни </h2>
        <div class="history__head">
            <div class="select"><span>Период</span>
                <label>
                    <input class="js-datepicker" type="text" value="15.03.2020">
                </label>
                <label>
                    <input class="js-datepicker" type="text" value="15.03.2020">
                </label>
            </div>
            <button class="button main-button">Назначить лечение</button>
        </div>
    </div>
    <div class="table-wrapper table-history">
        <table>
            <thead>
            <tr>
                <th>Дата</th>
                <th>Результаты анализов</th>
                <th>Назначения обследований</th>
                <th>Назначения лекарств</th>
                <th>Приемы пациентов</th>
            </tr>
            </thead>
            <tr>
                <th><span>20.10.2020</span></th>
                <th>
                    <div class="th-inner"><span class="mode"> Липидный профиль  </span></div>
                    <div class="th-inner"><span class="mode-2">Дата сдачи: 20.10.2020</span></div>
                    <div class="th-inner"><span>Общий белок - 74 ммоль/л</span></div>
                    <div class="th-inner"><span>Мочевина - 3,8 ммоль/л</span></div>
                    <div class="th-inner"><span>Креатинин - 82 ммоль/л</span></div>
                    <div class="th-inner"><span>Холестерин общий - 6,4 ммоль/л</span></div>
                    <div class="th-inner"><span>Триглицериды - 0,7 ммоль/л</span></div>
                    <a class="button table-button" href="#">Открыть фото</a>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Данные переданы <br> через личный <br> кабинет
                        </span>
                    </div>
                </th>
                <th>
                    <div class="th-inner"><span class="mode">Биохимия крови</span></div>
                    <div class="th-inner"><span class="mode-2">Назначенная дата сдачи: 28.10.2020</span></div>
                    <div class="th-inner">
                        <span class="table__small-text">
                            Данные переданы <br> через личный <br> кабинет
                        </span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванович М. С.</span>
                    </div>
                </th>
                <th>
                    <div class="th-inner">
                        <span class="table__min-title">Принимать</span>
                        <span>Клопидогрель 75 мг утро</span>
                        <span>АЦСК 75 мг вечер</span>
                        <span>Бисопролол 2,5 мг утро</span>
                        <span>Рамиприл 2,5 мг 2 р/д</span>
                        <span>Розувастатин 20 мг вечер</span>
                        <span>Торасемид 5 мг утро</span>
                        <span>Спиронолактон 25 мг утро</span>
                    </div>
                    {# <div class="th-inner"> #}
                    {# <span class="table__min-title">Рекоммендации врача</span> #}
                    {# <span>Фраксипарин 0,3 один раз.</span> #}
                    {# </div> #}
                    {# <div class="th-inner"> #}
                    {# <span class="table__min-title">Сдать анализы </span> #}
                    {# <span>D-димер через 2 недели </span> #}
                    {# </div> #}
                    {# <div class="th-inner"> #}
                    {# <span class="table__small-text"> #}
                    {# Рекомендации направлены <br> на согласование врачу гематологу #}
                    {# </span> #}
                    {# </div> #}
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванов М. С.</span>
                    </div>
                </th>
                <th>
                    <div class="th-inner"><span class="mode-2">Дата приема: 20.10.2020</span></div>
                    <div class="th-inner">
                        <span class="table__small-text">Вид приема</span>
                        <span>Очно</span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Жалобы</span>
                        <span>одышка при ходьбе, слабость, головная боль</span>
                    </div>
                    <div class="th-inner">
                        <span class="table__small-text">Врач</span>
                        <span>Иванов М. С.</span>
                    </div>
                </th>
            </tr>
            {# <tr> #}
            {# <th><span class="green">3.04.2020 </span></th> #}
            {# <th> #}
            {# <div class="th-inner"> #}
            {# <span class="mode">Показатели коагулограммы  </span> #}
            {# <span>АПТВ – 26, ПТИ – 76%, Фибриноген – 3,4 </span> #}
            {# </div> #}
            {# <div class="th-inner"><span class="mode-2">D-димер 845 нг/мл </span></div> #}
            {# <div class="th-inner"><span>Фото ОАК </span></div> #}
            {# <a class="button table-button" href="#">Открыть фото</a> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text">Данные внесены <br> врачом-консультантом </span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text">Врач</span> #}
            {# <span>Иванов И. И.</span> #}
            {# </div> #}
            {# </th> #}
            {# <th> #}
            {# <div class="th-inner"><span>Выполнена консультация врача-гематолога</span></div> #}
            {# <div class="th-inner"><span class="green-check">Лечение согласовано</span></div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text">Врач - гематолог</span> #}
            {# <span>Петров А. А.</span> #}
            {# </div> #}
            {# </th> #}
            {# <th> #}
            {# <div class="th-inner"> #}
            {# <span class="table__min-title">Принимать</span> #}
            {# <span>Ангиовит 1 таблетка в суткиКурантил 25 мг по 1 таблетки 3 раза в день. </span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__min-title">Вводить подкожно</span> #}
            {# <span>Фраксипарин 0,3 один раз.</span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__min-title">Сдать анализы </span> #}
            {# <span>D-димер через 2 недели </span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text"> #}
            {# Рекомендации направлены <br> на согласование врачу гематологу #}
            {# </span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text">Врач</span> #}
            {# <span>Иванов И. И.</span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text"> #}
            {# Рекомендации направлены в личный кабинет пациентки, #}
            {# дополнительно произведено информирование посредством SMS сообщения #}
            {# </span> #}
            {# </div> #}
            {# <div class="th-inner"> #}
            {# <span class="table__small-text"> #}
            {# SMS – «Вам в личный кабинет отправлены новые рекомендации по лечению» #}
            {# </span> #}
            {# </div> #}
            {# </th> #}
            {# <th> #}
            {# <div class="th-inner"> #}
            {# <span> #}
            {# С пациенткой произведен личный разговор по телефону. Каких-либо жалоб не предъявляет. #}
            {# </span> #}
            {# </div> #}
            {# <div class="th-inner"><span class="table__small-text">Врач</span><span>Иванов И. И.</span></div> #}
            {# </th> #}
            {# </tr> #}
        </table>
    </div>
{% endblock %}