{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.name }}</span>
        <p>{{ entity.name }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.district }}</span>
        <p>
            {% if entity.district %}
                <a href="{{ path('district_show', {'id': entity.district.id}) }}">{{ entity.district.name }}</a>
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.region }}</span>
        <p>
            {% if entity.region %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('region_show', {'id': entity.region.id}) }}">{{ entity.region.name }}</a>
                {% else %}
                    {{ entity.region.name }}
                {% endif %}
            {% endif %}
        </p>
    </li>
{% endblock %}
