{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.medicineName }}</span>
        <p>{{ entity.patientMedicine.medicineName }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.instruction }}</span>
        <p>{{ entity.patientMedicine.instruction|raw
            ?: template.items.show.content.empty }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.startingMedicationDate }}</span>
        <p>{{ entity.startingMedicationDate
            ? entity.startingMedicationDate|date('Y-m-d')
            : template.items.show.content.empty }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.endMedicationDate }}</span>
        <p>{{ entity.endMedicationDate
            ? entity.endMedicationDate|date('Y-m-d')
            : template.items.show.content.empty }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.staff }}</span>
        <p>{{ staffTitle }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.inclusion_time }}</span>
        <p>{{ entity.inclusionTime
            ? entity.inclusionTime|date('Y-m-d H:i:s')
            : template.items.show.content.empty }}</p>
    </li>
{% endblock %}