{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.analysisGroup }}</span>
        <p>
            {% if entity.analysisGroup %}
                <a href="{{ path('analysis_group_show', {'id': entity.analysisGroup.id}) }}">
                    {{ entity.analysisGroup.name }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.prescriptionTesting }}</span>
        <p>
            {% if entity.prescriptionTesting %}
                <a href="{{ path('prescription_testing_show', {'id': entity.prescriptionTesting.id}) }}">
                    {{ prescriptionTestingTitle(entity.prescriptionTesting) }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.analysisDate }}</span>
        <p>{{ entity.analysisDate ? entity.analysisDate|date('d.m.Y') : '' }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.processed }}</span>
        <p>{{ entity.isProcessedByStaff ?
            template.items.show.content.trueValue :
            template.items.show.content.falseValue }}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.patientTestingFiles }}</span>
        {% set filesDir = constant('App\\Services\\FileService\\FileService::FILES_DIR') %}
        {% set uploadDir = constant('App\\Entity\\PatientTestingFile::UPLOAD_DIR') %}
        {% for patientTestingFile in entity.patientTestingFiles %}
            <a target="_blank"
               href="/{{ filesDir }}/{{ uploadDir }}/{{ patientTestingFile.id }}.{{ patientTestingFile.extension }}"
               class="fancybox"
               title="{{ patientTestingFile.fileName }}">
                <img src="/{{ filesDir }}/{{ uploadDir }}/{{ patientTestingFile.id }}.{{ patientTestingFile.extension }}"
                     alt="{{ patientTestingFile.fileName }}"/>
            </a>
        {% endfor %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.isByPlan }}</span>
        <p>{{ entity.isByPlan ?
            template.items.show.content.trueValue :
            template.items.show.content.falseValue }}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.planTesting }}</span>
        <p>
            {% if entity.planTesting %}
                <a href="{{ path('plan_testing_show', {'id': entity.planTesting.id}) }}">
                    {{ planTestingTitle(entity.planTesting) }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.resultData }}</span>
        <p>
            {{ entity.resultData }}
        </p>
    </li>
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path(
                        'patient_testing_result_list',
                        {(patientTestingFilterName) : entity.id, (patientFilterName) : entity.medicalHistory.patient.id}
                    ) }}">
                        {{ template.items.show.content.analysisResultsLink }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}
