{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.analysisGroup }}</span>
        <p>
            {% if entity.analysisGroup %}
                <a href="{{ path('analysis_group_show', {'id': entity.analysisGroup.id}) }}">
                    {{ entity.analysisGroup.name }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.analysisDate }}</span>
        <p>{{ entity.analysisDate ? entity.analysisDate|date('d.m.Y') : '' }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.plannedDate }}</span>
        <p>{{ entity.plannedDate ? entity.plannedDate|date('d.m.Y') : '' }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.processed }}</span>
        <p>{{ entity.processed ?
            template.items.show.content.trueValue :
            template.items.show.content.falseValue }}
        </p>
    </li>
    <li>
        <span class="title">Сканкопии результатов обследования</span>
        {% for patientTestingFile in entity.patientTestingFiles %}
            <a target="_blank"
               href="/patient_files/{{ patientTestingFile.id }}.{{ patientTestingFile.extension }}"
               class="fancybox"
               title="{{ patientTestingFile.fileName }}">
                <img src="/patient_files/{{ patientTestingFile.id }}.{{ patientTestingFile.extension }}"
                     alt="{{ patientTestingFile.fileName }}"/>
            </a>
        {% endfor %}
    </li>
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path(
                        'patient_testing_result_list',
                        {(patientTestingFilterName) : entity.id, (patientFilterName) : entity.medicalHistory.patient.id}
                    ) }}">
                        {{ template.items.show.content.analysisResultsLink }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}
