{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.patientFio }}</span>
        <p>
            {% if entity.patient %}
                <a href="{{ path('patient_show', {'id': entity.patient.id}) }}">{{ patientFio }}</a>
            {% else %}
                Пациент не найден!
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.dateBegin }}</span>
        <p>
            {% if entity.dateBegin %}
                {{ entity.dateBegin ? entity.dateBegin|date('Y-m-d') : '' }}
            {% else %}
                Дата начала лечения не найдена!
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.dateEnd }}</span>
        <p>
            {% if entity.dateEnd %}
                {{ entity.dateEnd ? entity.dateEnd|date('Y-m-d') : '' }}
            {% else %}
                Лечение не завершено
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.mainDisease }}</span>
        <p>
            {% if (entity.mainDisease) %}
                <a href="{{ path('diagnosis_show', {'id': entity.mainDisease.id}) }}">
                    {{ entity.mainDisease.name }}
                </a>
            {% else %}
                Основное заболевание не найдено!
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.backgroundDiseases }}</span>
        {% if not entity.backgroundDiseases %}
            Фоновые заболевания отсутствуют
        {% endif %}
        {% for backgroundDisease in entity.backgroundDiseases %}
            <p>
                <a href="{{ path('diagnosis_show', {'id': backgroundDisease.id}) }}">
                    {{ backgroundDisease.name }}
                </a>
            </p>
        {% endfor %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complications }}</span>
        {% if not entity.complications %}
            Осложнения основной болезни отсутствуют
        {% endif %}
        {% for complication in entity.complications %}
            <p>
                <a href="{{ path('diagnosis_show', {'id': complication.id}) }}">
                    {{ complication.name }}
                </a>
            </p>
        {% endfor %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.concomitantDiseases }}</span>
        {% if entity.concomitantDiseases %}
            Сопутствующие заболевания отсутствуют
        {% endif %}
        {% for concomitantDisease in entity.concomitantDiseases %}
            <p>
                <a href="{{ path('diagnosis_show', {'id': concomitantDisease.id}) }}">
                    {{ concomitantDisease.name }}
                </a>
            </p>
        {% endfor %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.diseaseHistory }}</span>
        <p>
            {% if entity.diseaseHistory %}
                {{ entity.diseaseHistory|raw }}
            {% else %}
                Отсутствует
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.lifeHistory }}</span>
        <p>
            {% if entity.lifeHistory %}
                {{ entity.lifeHistory|raw }}
            {% else %}
                Отсутствует
            {% endif %}
        </p>
    </li>
    {% if not entity.patientDischargeEpicrisis is empty %}
        <li>
            <span class="title">{{ template.items.show.content.dischargeEpicrisis }}</span>
            {% set filesDir = constant('App\\Services\\FileService\\FileService::FILES_DIR') %}
            {% set uploadDir = constant('App\\Entity\\DischargeEpicrisisFile::UPLOAD_DIR') %}
            {% for file in entity.patientDischargeEpicrisis.dischargeEpicrisisFiles %}
                <a
                        target="_blank"
                        href="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                        class="fancybox"
                        title="{{ file.fileName }}"
                >
                    <img src="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                         alt="{{ file.fileName }}"/>
                </a>
            {% endfor %}
        </li>
    {% endif %}
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--add btn--show">Добавить
            {% set medicalHistoryParameterKey = constant('App\\Controller\\Admin\\MedicalHistoryController::MEDICAL_HISTORY_ID_PARAMETER_KEY') %}
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path('medical_record_new',{ (medicalHistoryParameterKey):entity.id }) }}">
                        {{ template.items.show.content.addMedicalRecord }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('patient_testing_new', { (medicalHistoryParameterKey)  : entity.id } ) }}">
                        {{ template.items.show.content.addPatientTesting }}
                    </a>
                </li>
                {% if allPrescriptionsCompleted %}
                    <li class="sublist__item">
                        <a href="{{ path(
                            'prescription_new',
                            { (medicalHistoryParameterKey) : entity.id }) }}">
                            {{ template.items.show.content.addPrescription }}
                        </a>
                    </li>
                {% endif %}
                <li class="sublist__item">
                    <a href="{{ path('patient_appointment_new',{ (medicalHistoryParameterKey) : entity.id }) }}">
                        {{ template.items.show.content.addPatientAppointment }}
                    </a>
                </li>
{#                <li class="sublist__item">#}
{#                    <a href="{{ path('notification_new',{ (medicalHistoryParameterKey) : entity.id }) }}">#}
{#                        {{ template.items.show.content.addNotification }}#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </button>
        <button class="btn btn--list btn--show">Список
            <ul class="sublist">
                <li class="sublist__item">
                    <a style="text-decoration: none;"
                       href="{{ path('medical_record_list', {(medicalRecordFilterName) : entity.id}) }}">
                        {{ template.items.show.content.medicalRecords }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('patient_testing_list', {(patientTestingFilterName) : entity.id}) }}">
                        {{ template.items.show.content.patientTestings }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('prescription_list', {(prescriptionFilterName) : entity.id}) }}">
                        {{ template.items.show.content.prescriptions }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('patient_appointment_list', {(patientAppointmentFilterName) : entity.id}) }}">
                        {{ template.items.show.content.patientAppointments }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('notification_list', {(notificationFilterName) : entity.id}) }}">
                        {{ template.items.show.content.notifications }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}