{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.patientFio }}</span>
        <p>
            {% if entity.patient %}
                <a href="{{ path('patient_show', {'id': entity.patient.id}) }}">{{ patientFio }}</a>
            {% else %}
                Пациент не найден!
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.dateBegin }}</span>
        <p>
            {% if entity.dateBegin %}
                {{ entity.dateBegin ? entity.dateBegin|date('Y-m-d') : '' }}
            {% else %}
                Дата начала лечения не найдена!
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.dateEnd }}</span>
        <p>
            {{ entity.dateEnd ? entity.dateEnd|date('Y-m-d') : template.items.show.content.treatmentNotCompleted }}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.diseaseHistory }}</span>
        <p>
            {% if entity.diseaseHistory %}
                {{ entity.diseaseHistory|raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.lifeHistory }}</span>
        <p>
            {% if entity.lifeHistory %}
                {{ entity.lifeHistory|raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.text }}</span>
        <p>{{ entity.clinicalDiagnosis.text | raw }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.MKBCode }}</span>
        <p>
            {{ entity.clinicalDiagnosis.MKBCode
            ? entity.clinicalDiagnosis.MKBCode.code
            : template.items.show.content.empty }}
        </p>
    </li>
    {% if not entity.patientDischargeEpicrisis is empty %}
        <li>
            <span class="title">{{ template.items.show.content.dischargeEpicrisis }}</span>
            {% set filesDir = constant('App\\Services\\FileService\\FileService::FILES_DIR') %}
            {% set uploadDir = constant('App\\Entity\\DischargeEpicrisisFile::UPLOAD_DIR') %}
            {% for file in entity.patientDischargeEpicrisis.dischargeEpicrisisFiles %}
                <a
                        target="_blank"
                        href="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                        class="fancybox"
                        title="{{ file.fileName }}"
                >
                    <img src="/{{ filesDir }}/{{ uploadDir }}/{{ file.id }}.{{ file.extension }}"
                         alt="{{ file.fileName }}"/>
                </a>
            {% endfor %}
        </li>
    {% endif %}
{% endblock %}
{% block custom_actions %}
    <div class="buttons">
        <button class="btn btn--add btn--show">{{ template.items.show.content.add }}
            {% set medicalHistoryParameterKey = constant('App\\Controller\\Admin\\MedicalHistoryController::MEDICAL_HISTORY_ID_PARAMETER_KEY') %}
            <ul class="sublist">
                <li class="sublist__item">
                    <a href="{{ path('medical_record_new',{ (medicalHistoryParameterKey):entity.id }) }}">
                        {{ template.items.show.content.addMedicalRecord }}
                    </a>
                </li>
                    <li class="sublist__item">
                        <a href="{{ path(
                            'prescription_new',
                            { (medicalHistoryParameterKey) : entity.id }) }}">
                            {{ template.items.show.content.addPrescription }}
                        </a>
                    </li>
            </ul>
        </button>
        <button class="btn btn--list btn--show">{{ template.items.show.content.list }}
            <ul class="sublist">
                <li class="sublist__item">
                    <a style="text-decoration: none;"
                       href="{{ path('medical_record_list', {(medicalRecordFilterName) : entity.id}) }}">
                        {{ template.items.show.content.medicalRecords }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('patient_testing_list', {(patientTestingFilterName) : entity.id}) }}">
                        {{ template.items.show.content.patientTestings }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('prescription_list', {(prescriptionFilterName) : entity.id}) }}">
                        {{ template.items.show.content.prescriptions }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('patient_appointment_list', {(patientAppointmentFilterName) : entity.id}) }}">
                        {{ template.items.show.content.patientAppointments }}
                    </a>
                </li>
                <li class="sublist__item">
                    <a href="{{ path('notification_list', {(notificationFilterName) : entity.id}) }}">
                        {{ template.items.show.content.notifications }}
                    </a>
                </li>
            </ul>
        </button>
    </div>
{% endblock %}