{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.analysisGroup }}</span>
        <p>
            {% if entity.analysisGroup %}
                <a href="{{ path('analysis_group_show', {'id': entity.analysisGroup.id}) }}">
                    {{ entity.analysisGroup.name }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.timeRange }}</span>
        <p>
            {% if entity.timeRange %}
                <a href="{{ path('time_range_show', {'id': entity.timeRange.id}) }}">
                    {{ entity.timeRange.title }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.timeRangeCount }}</span>
        <p>{{ entity.timeRangeCount }}</p>
    </li>
{% endblock %}
