{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
         <span class="title">{{template.items.show.content.name}}</span>
        <p>{{ entity.name }}</p>
    </li>
    <li>
         <span class="title">{{template.items.show.content.tech_name}}</span>
        <p>{{ entity.techName }}</p>
    </li>
    <li>
         <span class="title">{{template.items.show.content.description}}</span>
        <p>{{ entity.description|raw }}</p>
    </li>
{% endblock %}
