{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.medicalHistory }}</span>
        <p>
            {% if entity.medicalHistory %}
                <a href="{{ path('medical_history_show', {'id': entity.medicalHistory.id}) }}">
                    {{ medicalHistoryTitle }}
                </a>
            {% else %}
            {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.medicalRecord }}</span>
        <p>
            {% if entity.medicalRecord %}
                <a href="{{ path('medical_record_show', {'id': entity.medicalRecord.id}) }}">{{ medicalRecordTitle }}</a>
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.staffFio }}</span>
        <p>
            {% if entity.staff %}
                <a href="{{ path('staff_show', {'id': entity.staff.id}) }}">{{ staffFio }}</a>
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.appointmentType }}</span>
        <p>
            {% if entity.appointmentType %}
                <a href="{{ path('appointment_type_show', {'id': entity.appointmentType.id}) }}">
                    {{ entity.appointmentType.name }}
                </a>
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.appointmentTime }}</span>
        <p>{{ entity.appointmentTime ? entity.appointmentTime|date('d.m.Y H:i') : template.items.show.content.empty }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.isPatientConfirmed }}</span>
        <p>
            {{ entity.isConfirmed ?
            template.items.show.content.trueValue :
            template.items.show.content.falseValue }}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.recommendation }}</span>
        <p>
            {% if  entity.recommendation %}
                {{ entity.recommendation|raw }}
            {% else %}
                {{ template.items.show.content.empty_plural }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complaints }}</span>
        {% if  entity.complaints | length > 0 %}
        {% for complaint in entity.complaints %}
            <p>
                <a href="{{ path('complaint_show', {'id': complaint.id}) }}">
                    {{ complaint.name }}
                </a>
            </p>
        {% endfor %}
        {% else %}
            <p>{{ template.items.show.content.empty_plural }}</p>
        {% endif %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complaintsComment }}</span>
        <p>
            {% if  entity.complaintsComment %}
                {{ entity.complaintsComment|raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.objectiveStatus }}</span>
        <p>
            {% if  entity.objectiveStatus %}
                {{ entity.objectiveStatus|raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.therapy }}</span>
        <p>
            {% if  entity.therapy %}
                {{ entity.therapy|raw }}
            {% else %}
                {{ template.items.show.content.empty }}
            {% endif %}
        </p>
    </li>
{% endblock %}
