{% extends template.commonTemplatePath~'show.html.twig' %}
{% block show_content %}
    <li>
        <span class="title">{{ template.items.show.content.medicalHistory }}</span>
        <p>
            {% if entity.medicalHistory %}
                <a href="{{ path('medical_history_show', {'id': entity.medicalHistory.id}) }}">
                    {{ medicalHistoryTitle }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.medicalRecord }}</span>
        <p>
            {% if entity.medicalRecord %}
                <a href="{{ path('medical_record_show', {'id': entity.medicalRecord.id}) }}">{{ medicalRecordTitle }}</a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.staffFio }}</span>
        <p>
            {% if entity.staff %}
                <a href="{{ path('staff_show', {'id': entity.staff.id}) }}">{{ staffFio }}</a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.appointmentType }}</span>
        <p>
            {% if entity.appointmentType %}
                <a href="{{ path('appointment_type_show', {'id': entity.appointmentType.id}) }}">
                    {{ entity.appointmentType.name }}
                </a>
            {% endif %}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.appointmentTime }}</span>
        <p>{{ entity.appointmentTime ? entity.appointmentTime|date('d.m.Y H:i') : '' }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.isPatientConfirmed }}</span>
        <p>
            {{ entity.isConfirmed ?
            template.items.show.content.trueValue :
            template.items.show.content.falseValue }}
        </p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.recommendation }}</span>
        <p>{{ entity.recommendation }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complaints }}</span>
        {% for complaint in entity.complaints %}
            <p>
                <a href="{{ path('complaint_show', {'id': complaint.id}) }}">
                    {{ complaint.name }}
                </a>
            </p>
        {% endfor %}
    </li>
    <li>
        <span class="title">{{ template.items.show.content.complaintsComment }}</span>
        <p>{{ entity.complaintsComment }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.objectiveStatus }}</span>
        <p>{{ entity.objectiveStatus }}</p>
    </li>
    <li>
        <span class="title">{{ template.items.show.content.therapy }}</span>
        <p>{{ entity.therapy }}</p>
    </li>
{% endblock %}
